body {
  background: #f5f5f5;
}

/* Main wrapper */
.overlay-wrapper {
  position: relative;
  height: 360px;
  /* background: white; */
  margin-top: 80px;
}


.image-area {
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
  height: 100%;
}

.image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* White card */
.content-card {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  width: 460px;
  padding: 40px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.08);
}

.content-card h3 {
  color: #2f8f5b;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.content-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.7;
  margin-bottom: 25px;
}

/* Responsive */
@media (max-width: 768px) {
  .overlay-wrapper {
    height: auto;
  }

  .image-area {
    position: relative;
    width: 100%;
    height: 240px;
  }

  .content-card {
    position: relative;
    transform: none;
    width: 100%;
    margin-top: 15px;
  }
}
